.bottom-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  opacity: 0.9;
  padding: 0.25em;
}
.bottom-control select {
  font-size: 1.1em;
  margin: 0 1.5em;
}
.bottom-control h3 {
  margin: 0 2em;
}
.data-look-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background: #ccc;
  cursor: pointer;
}

.data-look-a>div {
  background-color: green;
  padding: 0.5em;
  transition-property: background;
  transition-duration: 1s;
  margin: 0.25em;
}

.data-look-a dl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  max-height: 500px;
  max-width: 500px;
  transition-property: max-height 3s;
  transition-property: max-width 3s;
  transition-duration: 1s;
}

.data-look-a dl div {
  display: flex;
  margin: 1px;
  margin: 0.25em;
}

.data-look-a dl.hide-details {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}

.data-look-a .small {
  font-size: 1em;
}

.data-look-a .large {
  font-size: 1.3em;
  margin: 0;
}

.data-look-a dt::after {
  content: ' : ';
}

.data-look-a dd {
  margin: 0 0.5em;
}

.data-look-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background: #ff0;
  cursor: pointer;
  /* height: 10vh; */
}