.App-header {
  text-align: center;
  background-color: #555;
  font-size: calc(10px + 2vmin);
  color: white;
}

.view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background: #ccc;
  cursor: pointer;
  height: 50vh;
}

.view-container>div {
  background-color: green;
  padding: 0.5em;
  transition-property: background;
  transition-duration: 1s;
  margin: 0.25em;
}

.view-container dl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  max-height: 500px;
  max-width: 500px;
  transition-property: max-height 3s;
  transition-property: max-width 3s;
  transition-duration: 1s;
}

.view-container dl div {
  display: flex;
  margin: 1px;
  margin: 0.25em;
}

.view-container dl.hide-details {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}

.view-container .small {
  font-size: 1em;
}

.view-container .large {
  font-size: 1.3em;
  margin: 0;
}

.view-container dt::after {
  content: ' : ';
}

.view-container dd {
  margin: 0 0.5em;
}