body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.modal-header {
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5em 0;
  padding: 0 0.5em;
  border-radius: 0.5em;
}
